/* Styles for the main navigation bar */
nav {
  background-color: white; /* Set background color to white */
  padding: 10px 0; /* Add padding at the top and bottom */
  border-bottom: 1px solid green; /* Add a green bottom border */
  border-top: 1px solid green; /* Add a green top border */
}

/* Styles for the unordered list */
ul {
  list-style: none; /* Remove bullet points from list items */
  display: inline-block; /* Display the list items inline */
  margin: 0;
  padding: 0;
}

/* Styles for the list items */
li {
  display: inline; /* Display the list items inline */
  margin: 0 10px; /* Add spacing between list items */
}

/* Styles for the NavLink component (link) */
NavLink {
  text-decoration: none; /* Remove underline decoration for links */
  color: #fff; /* Set text color to white */
  font-weight: bold; /* Set font weight to bold */
  transition: color 0.3s ease-in-out; /* Add a smooth color transition */
}

/* Hover styles for the NavLink component (link) */
NavLink:hover {
  color: #00bfff; /* Change text color on hover */
}

/* Styles for the top navigation bar */
.top-nav {
  background-color: #004e98; /* Set background color to dark blue */
  padding: 10px 0; /* Add padding at the top and bottom */
  text-align: center; /* Center-align the navigation items */
}
